* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;
}




body{
    background-image: url('../assets/bg.png');
    background-color: #020202;
}